
html,body{
    text-align:center;
    background-image:url("./todo.jpg");
    background-size:cover;
    height:100%;
    font-family:meiryo, sans-serif;
}
h1{
    font-family:cursive;
    font-size:64px;
    height:50px;
}
.cover{
    background-color:rgba(255,255,255,0.9);
    height:200%;
}

button,#submit, #btnAll{
    /* 背景色を明るい青色に指定 */
    background-color: forestgreen;
    /* 文字サイズを1.4emに指定 */
    font-size: 10px;
    /* 文字の太さをboldに指定 */
    font-weight: bold;
    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 5px 10px;
    /* 文字色を白色に指定 */
    color: #fff;
    /* ボーダーをなくす */
    border-style: none;
    border-radius:5px;
    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
}
.done-true{
    color:gray;
    text-decoration:line-through;
}
table{
    border-collapse: collapse;
    margin:10px auto;
    table-layout: fixed;
    font-size:12px;
}
.data{
    vertical-align: middle;
    height: 53px;
    width: 124px;
    border-bottom:1px gray solid;
}
.data2{
    vertical-align: middle;
    height: 53px;
    width: 31px;
    border-bottom:1px gray solid;
}
.head{
    font-weight:bold;
    text-align:center;
    height: 53px;
    width: 124px;
    border-bottom:1px gray solid;
}
.head2{
    font-weight:bold;
    text-align:center;
    height: 53px;
    width: 31px;
    border-bottom:1px gray solid;
}
#thTodo{
    width:248px;    
}
#trTodo{
    width:248px;
    text-align:left;
}
.center{
    text-align:center;
}
#textForm{
    width:300px;
    height:20px;
}

span.moji{
    color:forestgreen;
}
.moji2{
    font-family: "Times New Roman";
    font-style: italic;
}
